body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

* {
    outline: none;
}

.mainbox {
    font-size: 13px;
    color: #353535;
    overflow: hidden;
}

header {
    margin: 20px 30px;
}

.title {
    margin: 12px 0;
    font-size: 23px;
    font-weight: bold;
}

.copyright, .subtitle {
    font-size: 13px;
    color: #aaaaaa;
    margin: 5px 0;
}

.debugger {
    margin: 20px 30px;
}

a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: #00a4e6;
    text-decoration: underline;
}

button {
    background: linear-gradient(0deg, #cdcdcd, #fff);
    padding: 3px 10px 3px 10px;
    border: 1px solid #50505a33;
    border-bottom-color: #50505a59;
    border-radius: 3px;
    font-size: 14px;
    display: inline-block;
    outline: none;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 1px 0 #42424d1a;
    cursor: pointer;
}

button:hover {
    border: 1px solid #50505a55;
}

button:active {
    background: linear-gradient(0deg, #b9b9b9, #e0e0e0);
}

.btn-stop {
    color: #8d0028;
}
.btn-start {
    color: #3f8300;
}


pre {
    margin: 0;
}

.console {
    max-height: 200px;
    overflow-x: auto;
    overflow-y: auto;
    line-height: 20px;
    background-color: #333333;
    color:#eeeeee;
    border-radius: 5px;
    padding:5px 8px;
    margin: 10px 0;
    font-size: 13px;
    overflow-wrap:
    break-word;
    font-family: Menlo,Monaco,Consolas,monospace;
    -webkit-font-smoothing: antialiased;
}


.code {
    width: 300px;
}
.lineNum {
    color: #aaaaaa;
    display: inline-block;
    text-align: right;
    width: 20px;
    margin-right: 15px;
}
p {
    margin: 2px 0;
}

.col_container {
    font-family: monospace;
    width: 100%;
    font-size: 11px;
    display: flex;
    align-items: flex-start;
}
.col_header {
    background-color: #e2e5e8;
    font-weight: bold;
}
.ilcode_column {
    min-width: 300px;
}
.fstack_column {
    min-width: 200px;
}
.opstack_column {
    min-width: 200px;
}

.hidden {
    display: none;
}

.fstack_number {
    color: #777d81;
    padding-right: 5px;
}
.fstack_closure {
    color: #222;
    padding-left: 5px; padding-right: 5px;
}
.fstack_retaddr {
    font-weight: bold; color: #256b8f;
    padding-left: 5px; padding-right: 5px;
}
.closure_box {
    width: 100px;
    height: 50px;
    border: 1px solid #e2e5e8;
    /* background: #e2e5e8; */
    /* margin: 3px 0; */
    display: inline-block;
    overflow: hidden;
}
/* .closure_box_header {
    display: flex;
} */
.closure_handle {
    font-weight: bold;
}

.closure_var_table {
    width: 100%;
    font-size: 11px;
}
.closure_var_table td{
    padding: 2px 6px;
}
.bound_var {
    background-color: #d9f1ff;
}
.free_var {
    background-color:#fff1f7;
}
.var_value{
    text-align: left;
}
.var_name{
    text-align: right;
}

hr {
    border: none;
    border-top: 2px solid #e8eced;
}